@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="font-weight-lighter">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</pclass="font-weight-lighter">
    <p class="font-italic">This site we will work on as a class during lectures.</p>
</div>
